<%- layout('./boilerplate') %>

<link rel="stylesheet" href="../style/home.css">

<section id="model-s" class="open">
    <div class="container" style="background-image:url('../images/model-s.jpg')">
        <div class="items">
            <div class="top">
                <h1>Model-S</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color:rgba(52, 58, 64, .8);color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="model-3">
    <div class="container" style="background-image:url('../images/model-3.jpg')">
        <div class="items">
            <div class="top">
                <h1>Model-3</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="model-x">
    <div class="container" style="background-image:url('../images/model-x.jpg')">
        <div class="items">
            <div class="top">
                <h1>Model-X</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="model-y">
    <div class="container" style="background-image:url('../images/model-y.jpg')">
        <div class="items">
            <div class="top">
                <h1>Model-Y</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="solar-panel">
    <div class="container" style="background-image: url('../images/solar-panel.jpg')">
        <div class="items">
            <div class="top">
                <h1>Solar Panel</h1>
                <p>Lowest Cost Solar Panels in the country.</p>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Order Now</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Learn More</button>
            </div>
        </div>
    </div>
</section>
<section id="solar-roof">
    <div class="container" style="background-image: url('../images/solar-roof.jpg')">
        <div class="items">
            <div class="top">
                <h1>Solar Roof</h1>
                <p>Produce Clean Energy From Your Roof.</p>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Order Now</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Learn More</button>
            </div>
        </div>
    </div>
</section>
<section id="accessories">
    <div class="container" style="background-image: url('../images/accessories.jpg')">
        <div class="items">
            <div class="top">
                <h1>Accessories</h1>
            </div>
            <!-- <img src= alt=""> -->
            <div class="buttom">
                <button style="background-color: black; color: white;">Shop Now</button>
            </div>
        </div>
    </div>
</section>

<script defer src="../js/screenJs.js"></script>